@font-face {
  font-family: primeicons;
  font-display: block;
  src: url(./primeicons.eot);
  src: url(./primeicons.eot?#iefix) format("embedded-opentype"),url(./primeicons.woff2) format("woff2"),url(./primeicons.woff) format("woff"),url(./primeicons.ttf) format("truetype"),url(./primeicons.svg?#primeicons) format("svg");
  font-weight: 400;
  font-style: normal
}