/* BS5 patch */
/* fixes bvToast issue where it immediately goes away after it shows */
.toast:not(.show) {
    display: block;
}

/* Disabled and read-only inputs */
.form-control:disabled, .form-control[readonly] {
   background-color: #e9ecef;
   opacity: 1;
}